@import url(variables.scss);

.piedePagina{
    grid-area: piedePagina;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: map-get($Colores,FOOTER);
    border: 1px solid black;
    top: 0px;
    position: static;
    bottom: 0px;
    margin-left:3px ;

    span{
        flex-grow: 1;
        padding: 20px;
        font-size: large;
        justify-content: center;
    }

    div{
        display: flex;
        justify-content: space-evenly;
        flex-grow: 1;
        padding: 3px;
    }

    img{
        height: 70px;
        width: 70px;
    }

}
