@import url(navbar.scss);
@import url(piedepagina.scss);
@import url(index.scss);
@import url(monitoreo.scss);
@import url(iniciosesion.scss);
@import url(graficas.scss);
@import url(servicios.scss);
@import url(variables.scss);
@import url('piedepagina.scss');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;700;900&display=swap');

body{
    margin-left: 0px;
    font-family: 'Inconsolata', monospace;
    animation-name: animacionBody;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


/* En esta parte hice la animación de fondo de la pagina para que pareciera un ciclo de un día*/
@keyframes animacionBody {
    0% {background-color:map-get($map: Colores, $key: MANANA );}
    50% {background-color: map-get($map: Colores, $key: TARDE );}
    100%  {background-color: map-get($map: Colores, $key: NOCHE );}
}


/* Ya solucione lo del comentario que puse en la entrega, agregando lo que tenía en index en esta página pero no se porque*/
main{
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 5px;
}

.maceta{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    border: 1px solid black;
    background-color: map-get($map: Colores, $key: MAIN);
    padding: 5px;
    margin: 3px;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;

    div{
        border: 1px solid black;
        padding: 3px;
    }

    article{
        display: flex;
        flex-direction: column;
    }

    a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        &:hover{
            background-color: rgb(255, 255, 255);
            border-radius: 20px;
            padding: 20px;
        }
    }
}

.imagenMaceta{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

